#video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    bottom: -100px; /* 초기 위치 - 이미지가 화면 아래에 숨겨져 있음 */
    transition: bottom 0.5s ease; /* 부드러운 이동을 위한 트랜지션 */
}

#content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}

.t20, .t21 {
    color: white;
    font-style: Noto Sans;
    font-weight: 53;
    font-size: 17px;
    top: 0; /* 스크롤할 때 상단에 고정됨 */
    position: fixed;
}

.t20{
    margin: 28px 0 100px 28px;
}

.t21{
    margin: 28px 0 0 80px;
}

body {
    margin: 0;
    padding: 0;
    height: 1500px;
}

/* 헤더를 최상위로 표시 */
#header {
    z-index: 1000;
    padding: 10px;
    position: fixed;
    top: 0; /* 스크롤할 때 상단에 고정됨 */
    width: 100%;
    transition: top 0.3s; /* 스크롤에 반응하는 애니메이션 설정 */
    margin-bottom: 30px;
}

#total{
    margin: 50px 0 350px 0;
}

.mem{
    color:white;
    font-style: Noto Sans;
    font-weight: 53;
    font-size: 20px;
    text-align: center;
}

.num {
    position: relative;
}
  
.num1 {
    opacity: 0; /* 초기에는 이미지를 숨김 */
    transition: opacity 0.5s ease-in-out; /* 부드러운 페이드 효과를 위한 트랜지션 */
}

#num {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#num1 {
    display: none;
    animation: floatUp 0.5s ease-in-out forwards; /* floatUp 애니메이션을 적용합니다. */
}

@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(50px); /* 시작 시 아래에서 50px 위로 이동합니다. */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 끝나는 지점에선 위로 이동하지 않습니다. */
    }
}

.container1, .container2, .container3, .container4 {
    position: relative;
    width: 300px; 
    height: 300px; 
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15, .image16, .image17, .image18, .image19, .image20, .image21, .image22 {
    position: absolute;
    top: 30px;
    left: 30px;
}

.image2, .image4, .image6, .image8, .image10, .image12, .image14, .image16, .image18, .image20, .image22 {
    z-index: 1;
}

.image1, .image3, .image5, .image7, .image9, .image11, .image13, .image15, .image17, .image19, .image21 {
    width: 250px;
}

.image2, .image4, .image6, .image8, .image10, .image12, .image14, .image16, .image18, .image20, .image22  {
    width: 250px;
    top: 130px;
}

/* 20기 사진 위치 조정 */

.image3, .image4, .image5, .image6{
    left: 350px;
}

.image7, .image8 {
    left: 650px;
}

.image9, .image10 {
    left: 1220px;
}

.image5, .image6, .image7, .image8, .image9, .image10{
    top: 100px;
}

.image6, .image8, .image10{
    top: 200px;
}

/* 21기 사진 위치 조정 */

.image13, .image14, .image19, .image20{
    left: 350px;
}

.image15, .image16{
    left: 810px;
}

.image21, .image22 {
    left: 1220px;
}

.image11, .image12, .image13, .image14, .image15, .image16{
    top: 180px;
}

.image17, .image18, .image19, .image20, .image21, .image22{
    top: 250px;
}

.image12, .image14, .image16{
    top:280px;
}

.image18, .image20, .image22{
    top:350px;
}

.name {
    position: relative;
}

/*글씨 삽입*/
.haewon, .gayun, .jisoo, .sun, .won {
    text-align: left;
    position: absolute;
    font-size: 15px;
    font-style: Noto Sans;
    font-weight: bold;
    color: black;
}

.haewon{
    margin: 40px 0 0 50px;
}

.gayun{
    margin: 40px 0 0 370px;
}

.jisoo{
    margin: 110px 0 0 370px;
}

.sun{
    margin: 110px 0 0 670px;
}

.won{
    margin: 110px 0 0 1240px;
}

.n, .e, .w, .s, .c{
    text-align: left;
    position: absolute;
    font-size: 13px;
    font-style: Noto Sans;
    color: black;
}

.n{
    margin: 100px 0 0 50px;
}

.e{
    margin: 100px 0 0 370px;
}

.w{
    margin: 170px 0 0 370px;
}

.s{
    margin: 170px 0 0 670px;
}

.c{
    margin: 170px 0 0 1240px;
}

.hyun, .yena, .sang, .yun, .eun, .jo{
    text-align: left;
    position: absolute;
    font-size: 15px;
    font-style: Noto Sans;
    font-weight: bold;
    color: black;
}

.hyun{
    margin: 190px 0 0 50px;
}

.yena{
    margin: 190px 0 0 370px;
}

.sang{
    margin: 190px 0 0 830px;
}

.yun{
    margin: 260px 0 0 50px;
}

.eun{
    margin: 260px 0 0 370px;
}

.jo{
    margin: 260px 0 0 1240px;
}

.g, .y, .m, .a, .o, .h{
    text-align: left;
    position: absolute;
    font-size: 13px;
    font-style: Noto Sans;
    color: black;
}

.g{
    margin: 250px 0 0 50px;
}

.y{
    margin: 250px 0 0 370px;
}

.m{
    margin: 250px 0 0 830px;
}

.a{
    margin: 320px 0 0 50px;
}

.o{
    margin: 320px 0 0 370px;
}


.h{
    margin: 320px 0 0 1240px;
}

/* sns 버튼 삽입*/
.s1 a, .s2 a, .s3 a, .s4 a, .s5 a, .s6 a, .s7 a, .s9 a, .s10 a {
    text-decoration: none;
    color: black;
}

.s1, .s2, .s3, .s4, .s5, .s6, .s7, .s9, .s10{
    text-align: left;
    position: absolute;
    font-size: 13px;
    font-style: Noto Sans;
}

.s1{
    margin: 100px 0 0 240px;
}

.s2{
    margin: 100px 0 0 560px;
}

.s3{
    margin: 170px 0 0 560px;
}

.s4{
    margin: 170px 0 0 860px;
}

.s5{
    margin: 170px 0 0 1430px;
}

.s6{
    margin: 250px 0 0 240px;
}

.s7{
    margin: 250px 0 0 560px;
}


.s9{
    margin: 320px 0 0 240px;
}

.s10{
    margin: 320px 0 0 1430px;
}